header {
  
}
body {
    font-family: muli, sans-serif;
    color: #302e2f;
}

.titrepage {
    display: flex;
    background-image: url(../images/events_details/inner-banner-bg-1-1.jpg);
    background-position: center;
    margin: 0 0 8em 0;
    padding: 0;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    width: 100%;
    min-height: 30em;
    text-align: center;
}

h1 {
    font-family: 'Prata', serif;
    color: white;
    font-size: 5rem;
    font-weight: 500;
}

           /* fil d'ariane (breadcrumb) 
.breadcrumb ul {
    display: flex;
    list-style:none;
    margin-left:0;
    padding-left:0;
}
.breadcrumb li::before {
    content: ": ";
}
.breadcrumb li:first-child::before {
    content: "";
}
           fil d'ariane (breadcrumb) END */
.breadcrumb {
    text-transform: uppercase; 
    color: white; 
}
.breadcrumb a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

.sstitre {
    line-height: 300%;
    text-align: center;
}

h2 {
    text-transform: capitalize;
    font-family: 'Prata', serif; 
}

h3 {
    text-transform: uppercase;
}

.borduretop {
    padding-top: 1em;
    border-top: 0.3em solid #d99578;
}

.about {
    margin-bottom: 3em;
    padding: 0;
    margin: 0;
  }

.titre3 {
    text-align: left;
    font-size: 120%;
    font-family: 'Prata', serif;
}
.content_about {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.dates {
    background-color: lawngreen;
}
.download {
    margin: 0;
    padding: 0;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-family: 'Prata', serif;
    text-align: center;
}

.downlbut {
    width: 3em;
    height: 3em;
    float:left;
    margin-right: 1.2em;
}

.boxesred {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    background-color: palevioletred;
  }
.btndate {
    margin: 1em;
    background-color: #f2ebe8;
    border-radius: 6%;
    padding: 0.6em;
    font-family: 'Prata', serif;
    text-decoration: none;
    text-align: center;
    color: inherit;
  }
  a .btndate {
    text-decoration: none;
    color: inherit;
  }

  .btndate:hover {
      background-color: #d99578;
      color: white;
  }

  .more {
      text-transform: uppercase;
      text-decoration: none;
      color: inherit;
  }

.dep {
    background-color: #f2ebe8;
    padding-bottom: 8em;
    margin-bottom: 8em;
}
ul{ 
    list-style: none;
    }
li {
    line-height : 500%;
    border-bottom: 0.1em solid #f2ebe8;
}
ul li::before  {
    color: #f2ebe8;
    content: "\25AA";
    display: inline-block;
    width: 1em;
    margin-right: 2em;
  }

  .career {
      background-image: url(../images/about/carrer-1-1.jpg);
      background-position: center;
      background-size: cover;
      max-width: 35em;
      min-height: 25em;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1em;
  }

  .depin {
      background-color: white;
      margin-left: 2.5em;
  }


  .video {
    background-image: url(../images/about/video-2-1.jpg);
    background-position: center;
    max-width: auto;
    height: 36em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: 'Prata', serif;
}

.prata {
    font-family: 'Prata', serif; 
}


.behind {
    padding-bottom: 8em;
    margin-bottom: 8em;
    text-align: center;
    display: block;
}

/* grid pour les photos de profil */
.profils {     
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;
    max-width: 100%;
  }
  .profil1 { grid-area: 1 / 2 / 2 / 3; }
  .profil2 { grid-area: 2 / 2 / 3 / 3; }
  .profil3 { grid-area: 3 / 2 / 4 / 3; }
  .profil4 { grid-area: 4 / 2 / 5 / 3; } 
/* FIN grid pour les photos de profil */



@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}