body {
    font-size: 1.5rem;
    font-family: muli, sans-serif;
    color: #6C6C6C;
}
/* titre des section */
.sstitre {
    line-height: 300%;
    text-align: center;
    padding: 5em 1em 1em 1em;
}
.borduretop {
    padding-top: 1.5em;
    border-top: 0.15em solid #d99578;
}
/* END titre des section */

h2 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400; /* 400 vaut normal. 400+ sera plus gras */
}
h3 {
    text-transform: capitalize;
    font-family: 'Prata', serif; 
    font-size: 4.5rem;
    color: black;
    font-weight: 400;
}

.collection_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.collection_item {
    width: 350px;
    max-width: 350px;
    height: auto;
    margin: 30px 0px;
}

.collection_item img {
    box-shadow: 20px 20px 0px #f2ebe8; 
}

.collection_item {
    position: relative;
}

.txtcollection {
    position: absolute;
    bottom: 3px;
    left: 20px;
    font-family: 'Prata', serif;
    color: white;
}
.collection_item img {
        max-width:100%; 
}
