/* base settings */

body{
    font-size: 1.5rem;
    font-family: muli, sans-serif;
    color: #6C6C6C;

}
h1, h2, h3, h4{
    font-family: 'Prata', serif;
    color: #302E2F;
}

h2{
    font-size: 2.8rem;
    font-weight: 400;
}
h3{
    font-size: 2.2rem;
    font-weight: 400;
}
h4{
    font-size: 1.9rem;
}

/* -------------- Section 1 Slider - MOBILE------------------ */

.slider{
    background-image: url(../images/home/slider-1-3.jpg);
    background-position: center;
    background-size: cover;

    color: white;

    padding: 140px 20px 20px 20px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    margin-bottom: 120px;

   overflow: hidden;
}
.slider__title{
    color: white;
    font-weight: 400;
}

.slider__small-title{
    font-weight: 600;
    font-size: 1.6rem;
}

/* make lines aside the small title in slider */

.slider__small-title::before,
.slider__small-title::after {
    display: inline-block;
    content: "";
    border-top: 2px solid white;
    opacity: 0.2;
    width: 5.5rem;
    margin: 0 0;
    
}
.slider__small-title::before{
    transform: translate(-4rem, -0.5rem);   
}
.slider__small-title::after{
    transform: translate(4rem, -0.5rem);   
}

.slider__text{
    font-weight: 600;
    line-height: 2.5rem;
}

.slider__button{
    background-color: white;
    border: none;

    border-radius: 4px;

    font-size: 1.3rem;

    padding: 15px 45px;

    margin-top: 30px;
    margin-bottom: 100px;

    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.slider__button:hover{
    background-color: #D99578;
    color: white;
}

.slider__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50px;
}

.slider__nav__inactive{
    background-color: #D99578;
    border: 2px solid #D99578;
    border-radius: 3px;

    transform: rotate(45deg);

    height: 7px;
    width: 7px;
}
.slider__nav__active{
    border: 2px solid white;
    border-radius: 3px;


    height: 7px;
    width: 7px;
}

/*--- hide arrows for mobile ---*/
.slider__right{
    display: none;
}
.slider__left{
    display: none;
}

/* ------------------END - SECTION 1 SLIDER - MOBILE---------------------*/

/* ------------------ SECTION 2 ABOUT - MOBILE --------------------- */


.about__text{
    padding: 0 5%;
    margin-bottom: 100px;
}

.about__text__section-title{

    border-top: 2px solid #D99578;
    width: max-content;
    padding-top: 20px;
}

.about__text__button{
    background-color: #D99578;
    border: 1px solid #D99578;

    border-radius: 4px;

    color: white;

    font-size: 1.3rem;

    padding: 15px 45px;

    margin-top: 40px;

    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.about__text__button:hover{
    background-color: white;
    color: #D99578;
}

/*--- Design Illustration of Section 2 - About --- */

.about{
    margin-bottom: 120px;
}

.about__illu{
    position: relative;

    max-width: 40rem;
    height: 36rem;

    margin: auto;
}

.about__illu__whitebox{

    display: flex;
    justify-content: space-evenly;
  

    position: absolute;

    border: 2px solid #eeeeee;

    color: #302e2f;
    font-family: 'Prata', serif;

    height: 26rem;
    width: 26rem;

    padding-top: 2rem;

    top: 0;
    right: 3rem;

    z-index: 2;
}

.about__illu__established{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 10%;
   
}

.about__illu__established__gradient{
    width: 20%;
    height: 4rem;
    border-right: 2px solid #D99578;

    /*CSS Gradient */
    background: rgb(242,222,213);
    background: linear-gradient(180deg, rgba(242,222,213,1) 0%, rgba(255,255,255,1) 100%);
}

.about__illu__established__e{
    font-size: 4.8rem;
    padding-top: 0.8rem;
    margin: 0;
}
.about__illu__established__date{
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.about__illu__image1{
    
    position: absolute;
    height: 26rem;
    width: 26rem;

    left: 0;
    bottom: 3rem;

    z-index: 1;
}

.about__illu__image2{
    
    position: absolute;
    height: 26rem;
    width: 26rem;

    right: 0;
    bottom: 0;

    z-index: 3;
}
.about__illu__orange{

    position: absolute;
    background-color: #D99578;
    height: 29rem;
    width: 26rem;

    right: 5rem;
    bottom: 0;
}



/* ---- END SECTION 2 - ABOUT - MOBILE ---*/

/* ----- START OF SECTION 3 - EXHIBITION - MOBILE ---- */

.exhibition{
    background-color: #302e2f;
    color: white;

    padding: 0 5%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 120px;
    padding-bottom: 120px;
}
.exhibition__article__image{
    width: 100%;
    padding: 0;
    margin: 0;
}
.exhibition__title{
    border-top: 2px solid #D99578;
    width: max-content;
    padding-top: 20px;

    color: #aaaaaa;
}
.exhibition__main-title{
    color: white;
    font-size: 1.7em;
    font-weight: 400;
    
    margin-top: 0;
    margin-bottom: 60px;
}

.exhibition__article{
    margin-bottom: 30px;
    width: 100%;
}

.exhibition__article__type{
    color: #D99578;
}

.exhibition__article__title{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.exhibition__article__date{
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 3rem;

    /*margin-bottom: 30px;*/
}

.exhibition__article__link{
    text-decoration: none;
    color: white;

    font-size: 1.3rem;
    font-weight: 600;

    background-color: #393738;
    padding: 15px 25px;

    border: 1px solid #444444;
    border-radius: 4px;

    transition: background-color 0.2s ease-in-out;

}

.exhibition__article__link:hover{
    background-color: #D99578 !important;
}

/*----- END SECTION 3 EXHIBITION ------*/



/*---- START SECTION 8 TESTIMONIALS MOBILE ---- */
.testimonials{
    padding: 120px 5%;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    background-image: url(../images/home/testi-1-1-bg.jpg);
    background-position: center;
    background-size: cover;
}

.testimonials__testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 40px;

    max-width: 580px;
}

.testimonials__photo{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;

}

.testimonials__photo__profile{
    border-radius: 50%;
}
.testimonials__photo__around{
    position: absolute;
    width: 120px;
}

.testimonials__testimonial__identity{
    background-color: white;
    border-radius: 4px;

    line-height: 0.8rem;;

    padding: 0 60px;
    margin-bottom: 50px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials__testimonial__identity__name{
    font-size: 2.2rem;
    font-weight: 400;

    
}

.testimonials__testimonial__identity_location{
    color: #D99578;
    margin-top: -10px;
}

.testimonials__testimonial__identity__triange{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;

    position: absolute;
    top: 100%;
}

.testimonials__testimonial__text{
    font-family: 'Prata', serif;
    font-size: 2rem;

    line-height: 3.5rem;

    color: #302e2f;
}

.testimonials__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80px;
}

.testimonials__nav__inactive{
    height: 8px;
    width: 8px;

    background-color: #302e2f;
    opacity: 0.2;

    border-radius: 50%;

    transition: opacity 0.2s ease-in-out;
}

.testimonials__nav__inactive:hover{
 
    opacity: 1;

}
.testimonials__nav__line{
    display: inline-block;
    width: 3rem;
    height: 0;
    border: 1px solid #d99578;
}




@media only screen and (min-width: 768px) {

/* --------- SECTION 1 SLIDER - TABLET ---------- */
.slider__title{
    max-width: 450px;
}
.slider__small-title{
    margin-top: 200px;
}
.slider__small-title::before,
.slider__small-title::after {

    width: 25rem;
    
}

/* ---Display nav arrows ---*/

.slider__right{
    cursor: default;

    display: inline-block;
    position: absolute;
    color: white;

    font-weight: bold;
    line-height: 0.5em;

    right: 20px;
    bottom: 60%;

    transition: color 0.2s ease-in-out;
}
.slider__right:hover{
    color: #D99578 !important;
}
.slider__left{
    cursor: default;

    display: inline-block;
    position: absolute;
    color: white;

    font-weight: bold;
    line-height: 0.5em;

    left: 20px;
    bottom: 60%;

    transition: color 0.2s ease-in-out;
}
.slider__left:hover{
    color: #D99578 !important;
}
.slider__left-arrow{
    font-size: 2em;
    font-weight: normal;
}
.slider__right-arrow{
    font-size: 2em;
    font-weight: normal;
}

/*----- END OF SECTION 1 SLIDER - TABLET---- */


/*---- START SECTION 2 - ABOUT - TABLET--------- */

/*--Adapt Title size-- */
.about h3{
    font-size: 4rem;
}

/*adapt illustration*/

.about__illu{

    max-width: 48rem;
    height: 45rem;

}
.about__illu__whitebox{

    height: 30rem;
    width: 30rem;

}
.about__illu__established__gradient{
    width: 40%;
}

.about__illu__image1{
    
    height: 30rem;
    width: 30rem;

    left: 1rem;
    bottom: 8rem;

}

.about__illu__image2{
    
    height: 30rem;
    width: 30rem;

    right: 0;
    bottom: 0;
}
.about__illu__orange{

    height: 33rem;
    width: 30rem;

    right: 8rem;
    bottom: 2.5rem;
}

/*------- ENF OF SECTION 2 - ABOUT - TABLET ------ */

/*----- START OF SECTION 3 - EXHIBITION - TABLET --- */
.exhibition__article__infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

}

@media only screen and (min-width: 1024px) {

/* ---- SECTION 1 SLIDER ---- */

.slider__title{
    max-width: 850px;
    font-size: 4.5rem;
}

/* ---- hide the "Prev" from tablet layout --- */

.slider__left p{
    display: none;
}

/* extend first line bars */

.slider__small-title::before,
.slider__small-title::after {

    width: 54rem;
    
}

/* ----- END SECTION 1 SLIDER ---- */

/* ----- START SECTION 2 ABOUT - DESKTOP ---- */

.about{
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1400px;
    margin: auto;

    padding: 0 5%;
    margin-bottom: 100px;
}

.about__text{
    grid-column: 1;
    padding: 0;
    margin-bottom: 0;
}

.about__illu{
    grid-column: 2;
    width: 100%;
}

.about__illu__image1{

    left: 1rem;
    bottom: 8rem;

}

/* --- END SECTION 2 - ABOUT - DESKTOP --- */

/*---- START SECTION 3 - EXHIBITION - DESKTOP -- */

.exhibition__main-title{
    font-size: 4rem;
}

.exhibition__articles{
    display: flex;
    justify-content: space-between;
    
    

    max-width: 1400px;
}
.exhibition__article{
    max-width: 30%;
}

}





/* AUBAN */
/* EVENT - OPENING */
.events {
    display: flex;
    flex-direction: column;
    background-image: url("../images/home/event-bg-1-1.jpg");
    font-family: 'Prata', serif;
}

.events__background--color {
    display: none;
}

.events__container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.events__schedule {
    display: flex;
    flex-direction: column;
}

.events__schedule__h2 {
    color: #8f8a8c;
    font-size: 2rem;
    border-top: 1px solid #d99578;
    width: min-content;
    padding-top: 1rem;
}

.events__schedule__h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.events__schedule__btn {
    border: 1px solid #8f8a8c;
    background-color: white;
    padding: 0.7rem;
    text-align: left;
    position: relative;
    font-size: 2rem;
    height: 5rem;
}

.events__schedule__btn:nth-of-type(2) {
    margin: 0.5rem 0;
}

.events__schedule__btn:focus {
    background-color: #d99578;
    color: white;
}

.events__schedule__icon--chevronRight::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    color: #8f8a8c;
    position: absolute;
    right: 1rem;
}

.events__schedule__viewAll {
    text-decoration: none;
    color: #8f8a8c;
    font-size: 1.5rem;
    margin: 4rem 0 8rem;
    transition: color ease-in-out 0.2s
}

.events__schedule__viewAll:hover {
    text-decoration: none;
    color: #d99578;
    margin-top: 2rem;
}

.events__program {
    display: flex;
    flex-direction: column;

    position: relative;
}

.events__program__event {
    display: flex;
    flex-direction: column;
    position: relative;
}

.events__program__event:nth-of-type(2) {
    margin: 5rem 0;
}

.events__program__event__img {
    margin-bottom: 1rem;
}

.events__program__event--clock::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f017";
    position: absolute;
    color: #d99578;
    top: 13.5rem;
    left: 7.2rem;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 100%;
    padding: 0.5rem;
}

.events__program__event--hours::before {
    content: "10.00 - 12.00";
    position: absolute;
    color: #d99578;
    top: 15rem;
    left: 2rem;
    background-color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.events__program__event__details {
    position: relative;
}

.events__program__event__details__day {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.events__program__event__details__day__p {
    font-size: 5rem;
    color: #d99578;
    margin: 0;
}

.events__program__event__details__date {
    font-size: 2rem;
    color: #8f8a8c;
    margin-left: 2rem;
    text-transform: uppercase;
}

.events__program__event__details__name {
    font-size: 2rem;
    margin-top: 0;
}

.events__program__event__details__address {
    font-size: 1.5rem;
    color: #8f8a8c;
}

.events__program__event__details__moreDetails {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 6rem;
    color: #8f8a8c;
}

.events__program__event__details--chevronRight::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    color: #8f8a8c;
    position: absolute;
    left: 4rem;
}

.events__program__event__details__line::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid #8f8a8c;
    width: 4rem;
    height: 0.5rem;
    left: 0.1rem;
}
/* EVENT - ENDING */

/* MEMBER - OPENING */
.member {
    display: flex;
    flex-direction: column;
    padding: 10rem 1.5rem;
    background: linear-gradient(90deg, rgb(0, 0, 0) 10%, rgba(255, 168, 116, 0.8) 100%), url("../images/home/video-bg-1-1.jpg");
    font-family: 'Prata', serif;
    margin-bottom: 12rem;
}

.member__container {
    display: flex;
    flex-direction: column;
}

.member__container__video {
    display: flex;
    position: relative;
}

.member__container__video__icon--play::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f04b";
    position: absolute;
    right: 40%;
    top: 35%;
    font-size: 8rem;
    color: white;
}

.member__container__list {
    display: flex;
    flex-direction: column;
}

.member__container__list__h3 {
    font-size: 5rem;
    margin-bottom: 0;
    color: white;
}

.member__container__list__ul {
    list-style-type: none;
    font-size: 1.8rem;
    margin: 5rem 0;
    padding: 0;
    align-self: center;
    color: white;
    font-weight: 700;
}

.member__container__list__ul__li:nth-of-type(2) {
    margin: 2rem 0;
}

.member__container__list__ul__li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f058";
    color: white;
    margin-right: 1rem;
    font-size: 2rem;
}

.member__container__list__a {
    text-decoration: none;
    align-self: center;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1.5rem;
    font-size: 1.2rem;
    width: 90%;
    background-color: white;
    color: #8f8a8c;
    text-transform: uppercase;
    transition: all ease-in-out .2s;
}

.member__container__list__a:hover {
    color: white;
    background-color: #d99578;
}
/* MEMBER - ENDING */

/* NEWS BLOG - OPENING */

.blog {
    display: flex;
    flex-direction: column;
    padding: 10rem 2rem;
    font-family: 'prata', serif;
}

.blog__title {
    display: flex;
    flex-direction: column;
}

.blog__title__h2 {
    color: #8f8a8c;
    font-size: 2rem;
    border-top: 1px solid #d99578;
    padding-top: 1rem;
    text-transform: uppercase;
    font-family: 'muli', serif;
    font-weight: 300;
    align-self: center;
}

.blog__title__h3 {
    font-size: 3rem;
    align-self: center;
}

.blog__container {
    display: flex;
    flex-direction: column;
}

.blog__container__news {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.blog__container__news:nth-of-type(2) {
    background-color: #d99578;
}

.blog__container__news__blocText {
    padding: 5rem 2rem;
    text-align: center;
    position: relative;
}

.blog__container__news__blocText__text {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 3rem;
}

.blog__container__news__blocText__text::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    color: white;
    font-size: 3rem;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

.blog__container__news__blocText__readMore {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.blog__container__news__img {

}

.blog__container__news__details {
    padding: 3rem 1rem;
    position: relative;
    box-shadow: 0 8px 50px -20px rgba(0,0,0,0.2);
}

.blog__container__news__details__admin {
    text-transform: uppercase;
    color: #8f8a8c;
}

.blog__container__news__details__name {
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

.blog__container__news__details__line::before {
    position: absolute;
    content: "";
    border-bottom: 1px solid #8f8a8c;
    width: 5rem;
    height: 0.5rem;
    left: 1rem;
}

.blog__container__news__details__text {
    color: #8f8a8c;
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin-top: 4.5rem;
}

.blog__container__news__details__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #8f8a8c;
    margin-top: 2.5rem;
    font-size: 1.1rem;
}

.blog__container__news__details__details__readMore {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.blog__container__news__details__details__date {
    margin: 0;
}
/* NEWS BLOG - ENDING */

@media only screen and (min-width: 768px) {
    /* EVENT - OPENING */
    .events__program__background--color {
        background-color: #f1eae7;
        width: 85%;
        height: 85rem;
        position: absolute;
        right: -2rem;
        bottom: -2rem;
    }

    .events__program__event {
        flex-direction: row;
    }
    .events__program__event:first-of-type {
        margin-top: 10rem;
    }

    .events__program__event:last-of-type {
        margin-bottom: 5rem;
    }

    .events__schedule__btn {
        width: 60%;
    }

    .events__program__event__details {
        margin-left: 2rem;
    }
    /* EVENT - ENDING */

    /* MEMBER - OPENING */
    .member__container__video__icon--play::after {
        font-size: 15rem;
    }

    .member__container__list__h3 {
        margin-left: 1.7rem;
    }

    .member__container__list__ul {
        margin-left: 1.7rem;
        align-self: flex-start;
    }
    /* MEMBER - ENDING */

    /* NEWS BLOG - OPENING */

    .blog__container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog__container__news {
        margin: 2rem 2rem;
        width: 47%;
    }

    .blog__container__news:first-of-type {
        margin-left: 0;
    }

    .blog__container__news:nth-of-type(2) {
        background-color: #d99578;
        height: min-content;
        margin-right: 0;
    }

    .blog__container__news:nth-of-type(3) {
        margin-left: 0;
    }

    .blog__container__news:last-of-type {
        position: relative;
        bottom: 52rem;
        margin-right: 0;
    }
    /* NEWS BLOG - ENDING */
}

@media only screen and (min-width: 1024px) {
    /* EVENT - OPENING */
    .events {
        align-items: center;
        position: relative;
    }

    .events__background--color {
        position: absolute;
        background-color: #f1eae7;
        width: 50%;
        right: 0;
        height: 100%;
        display: block;
    }

    .events__container {
        flex-direction: row;
        justify-content: center;
        width: 80%;
    }

    .events__schedule {
        width: 35%;
        align-self: center;
    }

    .events__program {
        width: 45%;
    }

    .events__program__background--color {
        display: none;
    }
    /* EVENT - ENDING */

    /* MEMBER - OPENING */
    .member {
        padding: 3rem 1.5rem;
    }

    .member__container {
        flex-direction: row;
        align-items: center;
    }

    .member__container__video__icon--play::after {
        top: 65%;
        right: 37%;
    }

    .member__container__video__img {
        margin-left: 10rem;
        position: relative;
        top: 15rem;
    }

    .member__container__list {
        margin-left: 10rem;
    }

    .member__container__list__h3, .member__container__list__ul, .member__container__list__a {
        margin-left: 0;
        align-self: flex-start;
    }
    /* MEMBER - ENDING */

    /* NEWS BLOG - OPENING */

    .blog__container {
        position: relative;
        flex-wrap: nowrap;
    }

    .blog__container__news {
        width: min-content;
    }

    .blog__container__news:first-of-type {
        margin: 2rem;
    }

    .blog__container__news:nth-of-type(2) {
        width: 37rem;
        margin: 2rem;
    }

    .blog__container__news__blocText {
        height: 15.5rem;
    }

    .blog__container__news:nth-of-type(3) {
        position: absolute;
        bottom: 0;
        margin: 2rem;
    }

    .blog__container__news:last-of-type {
        bottom: 0;
        margin: 2rem;
    }
    /* NEWS BLOG - ENDING */
}



/* OLIVIER */

/* titre des section */
.sstitre {
    line-height: 300%;
    text-align: center;
    padding: 5em 1em 1em 1em;
}
.borduretop {
    padding-top: 1.5em;
    border-top: 0.15em solid #d99578;
}
/* END titre des section */

.collection h2 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400; /* 400 vaut normal. 400+ sera plus gras */
}
.collection h3 {
    text-transform: capitalize;
    font-family: 'Prata', serif; 
    font-size: 1.5rem;
    color: black;
    font-weight: 400;
}
.collections {
    padding: 0.5%;
}
.collection_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5em;
}
.collection_item {
    position: relative;
    display: flex;
    max-width: 280px;
    margin: 30px 20px 50px 20px;
}
.shadow_img {
    box-shadow: 20px 20px 0px #f2ebe8; 
    max-width:100%;
    height:auto;
}
.txtcollection {
    position: absolute;
    bottom: 3px;
    left: 20px;
    font-family: 'Prata', serif;
    color: white;
}


.morecircle {
    position: absolute;
    background-color: white;
    bottom: 10px;
    right: 0px;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
a:hover.morecircle {
    font-size: 120%;
    background-color: #f2ebe8;
}
a.morecircle {
    text-decoration: none;
    color: inherit;
}
.plus {
    position: absolute;
    height: 80px;
    width: 80px;
    bottom: -60px;
    right: 20px;
}
.ronde {
    position: absolute;
    bottom: 10px;
    right: 0px;
}
.seeall{
    display: flex;
    justify-content: center;
    align-items: center;
}
.all {
    position: relative;
    max-width: 380px;
}
.eventsprogrameventdetailsmoreDetails {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 6rem;
    color: #8f8a8c;
    font-size: 0.8rem;
}

.eventsprogrameventdetails--chevronRight::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    color: #8f8a8c;
    position: absolute;
    left: 4rem;
    top: 0.35rem;
}

.eventsprogrameventdetailsline::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid #8f8a8c;
    width: 4rem;
    height: 0.5rem;
    left: 0.1rem;
    top: 0.35rem;
}

/* START section chiffres */
.chiffres {
    background-color: #302e2f;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.chiffres_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.chiffres_bloc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px;
}
.chiffres_text_bloc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0.7rem;
}
.chiffres_nombre {
    grid-area: 1 / 1 / 3 / 2;
    font-family: 'Prata', serif; 
    color: white;
    font-size: 2.5rem;
    width: auto;
    }
.chiffres_text_upcase {
    grid-area: 1 / 2 / 2 / 3;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
}
.chiffres_text {
    grid-area: 2 / 2 / 3 / 3;
    color: white;
    text-transform: capitalize;
    font-size: 1rem;
}
.chiffres_img {
    color: #d99578;
    font-size: 3rem;
    margin: 0.7rem;
}
.chiffres_2txt {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1rem;
}
/* END section chiffres */




@media only screen and (min-width: 768px) {

    .collection_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 3.5em;
        max-height: 1300px;
    }
    .collection_item {
        max-width: 280px;
    }
    .collection h3 {
        font-size: 2.5rem;
    }
    .collection_item:nth-child(1) {
        order: 1;
        }   
    .collection_item:nth-child(2) {
        order: 4;
        }
    .collection_item:nth-child(3) {
        order: 2;
        }
    .collection_item:nth-child(4) {
        order: 5;
        }

     .collection_item:nth-child(5) {
        order: 3;
        }
     .collection_item:nth-child(6) {
        order: 6;
        }
    .chiffres_bloc {
        margin-right: 100px;
        width: 200px
        }
    .chiffres_container {
        width: auto;
        justify-content: flex-start;
        }
}


@media only screen and (min-width: 1024px) {
    .collection_item {
        max-width: none;
    }

    .collection h3 {
        font-size: 4.5rem;
        font-weight: 400;
    }
    .collection_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 0px 20px;
        width: 1170px;
    }

    .pic1 { grid-area: 1 / 1 / 5 / 2; }
    .pic2 { grid-area: 1 / 2 / 7 / 3; }
    .pic3 { grid-area: 1 / 3 / 4 / 4; }
    .pic4 { grid-area: 4 / 3 / 7 / 4; }
    .pic6 { grid-area: 7 / 2 / 11 / 4; }
    .pic5 { grid-area: 5 / 1 / 11 / 2; }

    .collection_container_grid {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .eventsprogrameventdetailsmoreDetails {
        font-size: 1.4rem;
    }
    .chiffres_container {
        width: 1170px;
        justify-content: center;
    }
    .chiffres_bloc {
        margin-right: 15px;
    }
}
